/* ░░ Content (Framework) ░░░░░░░░░░░░░
================================================*/

/*>> Selection >>>>>>>>>>>>
============================================*/
::-moz-selection{ background:$linkColor; color:white; text-shadow:none; }
::selection { background:$linkColor; color:white; text-shadow:none; }

/*>> Headers >>>>>>>>>>>>
============================================*/
h1, h2, h3, h4, h5, h6 {
  font-family: $trebuchet;
  font-weight: 400;
  font-style: normal;
}

/*>> Copy >>>>>>>>>>>>
============================================*/
.force-wrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

p {
  margin: 0;
}
em {
  font-style: italic;
  display:inline-block;
  //
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    transform: skewX(-3deg);
  }
}
b, strong {
  font-weight: bold;
}
small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
dfn {
  font-weight: bold;
  font-style: italic;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
  vertical-align: sub;
}
sub {
  bottom: -0.25em;
  vertical-align: super;
}
abbr, acronym {
  border-bottom: 1px dotted $greyLight;
  text-transform: uppercase;
  font-size: 90%;
  cursor: help;
}
del {
  color: $greyDark;
  vertical-align: baseline;
  text-decoration: line-through;
}

pre {
  @extend .force-wrap;
  margin: 1.5em 0;
  padding: rhythm(.5) rhythm(.3);
  border-top: 1px solid #ff2;
  border-bottom: 1px solid #ff2;
  background: #ffff99;
  color: #990;
}
code {
  padding: rhythm(.2);
  background: #ffff99;
  color: #990;
  font-size: 11px;
  line-height: 1.2em;
}
pre, code, kbd, samp, tt {
  font-family: $consolas;
}
ins {
  text-decoration: underline;
}
mark {
  background: #ff0;
  color: #990;
  font-size: 11px;
}
address {
  display: block;
  margin: 0 0 1.5em;
  font-style: italic;
}

/*>> Links >>>>>>>>>>>>
============================================*/
a {
  color: $linkColor;
  text-decoration: none;
  -webkit-touch-callout: none; // mobile touch select
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //
  &:hover {
    color: $linkColor;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

/*>> Media >>>>>>>>>>>>
============================================*/
audio, canvas, img, video {
  vertical-align: middle;
}
img {
  height: auto;
  max-width:100%;
}

/*>> Lines >>>>>>>>>>>>
============================================*/
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/*>> Lists >>>>>>>>>>>>
============================================*/
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 rhythm(1.5);
}
ul {
  list-style: disc;
}
ol {
  list-style-type: decimal;
  //
  ol {
    list-style: upper-alpha;
    //
    ol {
      list-style: lower-roman;
      //
      ol {
        list-style: lower-alpha;
      }
    }
  }
}
li ul, li ol {
  margin: 0;
}
dl {
  margin: 0 1.625em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.625em;
}

/*>> Forms >>>>>>>>>>>>
============================================*/
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
textarea {
  resize: vertical;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// -- Remove input autofocus webkit -------------
*:focus {
  outline: none;
}

// -- Placeholders ----------------
input, input.placeholder, textarea, textarea.placeholder {
  &.placeholder { color: lighten($fontColor, 20%); }
}

/*>> Tables >>>>>>>>>>>>
============================================*/
// css table
.table {
  display:table;
  .tr {
    display:table-row;
  }
  .thead {
    display:table-header-group;
  }
  .tbody {
    display:table-row-group;
  }
  .tfoot {
    display:table-footer-group;
  }
  .col    {
    display:table-column;
  }
  .colgroup {
    display:table-column-group;
  }
  .td, .th {
    display:table-cell; vertical-align:top;
  }
  .caption {
    display:table-caption;
  }
}
