/*░░ Structure ░░░░░░░░░
============================================*/

/*>> Base Defaults >>>>>>>>>
============================================*/

html, body {
    height: 100%;
}

body {
    background: $grey;
    font: normal 1em/1.6875 $helvetica;
    color: $blackLight;
    //
    -moz-text-rendering: optimizeLegibility;
  	-webkit-text-rendering: optimizeLegibility;
  	text-rendering: optimizeLegibility;
  	//
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	//
  	font-kerning: normal;
  	//
  	-moz-font-feature-settings:"calt", "liga", "clig", "kern";
  	-ms-font-feature-settings:"calt", "liga", "clig", "kern";
  	-o-font-feature-settings:"calt", "liga", "clig", "kern";
  	-webkit-font-feature-settings:"calt", "liga", "clig", "kern";
  	font-feature-settings:"calt", "liga", "clig", "kern";
    //
    -ms-text-size-adjust: 100%; // www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
    -webkit-text-size-adjust: 100%; // Prevents iOS text size adjust after orientation change, without disabling user zoom
}

.notific {
    position: relative;
    z-index: 15;
    padding: 1.25em 2.25em;
    background: $grey;
    color: $greyDark;
    text-align: center;
    font-family: $helvetica;
    @media screen and (min-width: 480px) {
        padding: 1.1em 3.5em 1.25em;
    }
    //
    .link {
        color: $linkColor;
        text-decoration: underline;
        &:hover {
            color: $linkHover;
        }
    }
    span {
        display:inline;
        @media screen and (min-width: 768px) {
            display:block;
        }
        @media screen and (min-width: 1280px) {
            display:inline;
        }
    }
    .close {
        position: absolute;
        top: 0;
        right: 0.15em;
        height: 2em;
        width: 2em;
        text-align: center;
        color: $greyDark;
        opacity: 0.4;
        text-decoration: none;
        //
        @media screen and (min-width: 480px) {
            top: 50%;
            right: 0.75em;
            margin: -1em 0 0 0;
        }
        &:hover {
            color: $greyDark;
            opacity: 0.75;
        }
    }
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
