/* ░░ Content (App) ░░░░░░░░░
============================================*/

/*>> Selection >>>>>>>>>
============================================*/
::-moz-selection{ background:$rubyLight; color:white; }
::selection { background:$rubyLight; color:white; }

/*>> Copy >>>>>>>>>>>>
============================================*/
p {
	font-size: 1em;
}

/*>> Links >>>>>>>>>>>>
============================================*/
a {
	color: $linkColor;
	transition: color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
	//
	&:hover {
		color: $linkHover;
		text-decoration: underline;
	}
}

/*>> Lines >>>>>>>>>>>>
============================================*/
.border-bottom-1, .border-bottom-2, .border-bottom-3 {
  border-bottom-color: $winkleLight;
}
.dark {
	//
	.border-bottom-1, .border-bottom-2, .border-bottom-3 {
	  border-bottom-color: $slateLight;
	}
}