/*>> Theme Font Stack >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

// -- @font-face declarations ---------------------------------
@font-face {
    font-family:"roboto-regular-draft";
    src:url("fonts/robotodraft-regular.eot");
    src:url("fonts/robotodraft-regular.eot?#iefix") format("eot"),
        url("fonts/robotodraft-regular.woff") format("woff"),
        url("fonts/robotodraft-regular.ttf") format("truetype"),
        url("fonts/robotodraft-regular.svg#robotodraft-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { // old stock android browser fix
    @font-face {
        font-family:"roboto-regular-draft";
        src:url("fonts/robotodraft-regular.svg#robotodraft-regular") format("svg");
    }
}
