/*>> App Font Vars >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

// -- Font variables ---------------------------------
$roboto-thin:"roboto-thin", $trebuchet;
$roboto-light:"roboto-light", $trebuchet;
$roboto-regular:"roboto-regular", $trebuchet;
$roboto-medium:"roboto-medium", $trebuchet;
$roboto-bold:"roboto-bold", $trebuchet;
$roboto-black:"roboto-black", $trebuchet;
