/*░░ Footer ░░░░░░░░░
============================================*/
//
body > .container > footer {
	color: $white;
	background: $white;
	//
	&.dark {
		background: $slateDark;
	}
	//
	.list-grid {
		padding:2em 0 1.5em;
		font-size: 0.9em;
		// @media screen and (min-width: 480px) {
		// 	padding:0 1.5em;
		// }
	}
	.navbar {
		//
		nav {
			display:none;
			@media screen and (min-width: 768px) {
			 display:inline-block;
			}
		}
	}
}
