/* ░░ Header ░░░░░░░░░
============================================ */

body > .container > header {
	position:fixed;
	z-index: 25;
	width:100%;
	background: $white;
	//
	&.theme-slate {
		background: $slateDark;
		//
		.border-bottom-1 {
			border: none;
		}
		> .base {
			border-bottom: none;  // ?? see which of these two work
		}
	}
	// Headroom
	&.headroom {
		//
		&.unpinned {
			transform: translateY(-5em);
		}
	}
	// -- Page Loader
	> .load-tray {
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		//
		.spin-load-small {
			z-index: 25;
			position: absolute;
			top: 1em;
			//
			&.left {
				left: 1.35em;
		  	@media screen and (min-width: 1200px) {
					left: 0.25em;
				}
			}
			&.right {
				right: 1.15em;
		  	@media screen and (min-width: 1200px) {
					right: 0.1em;
				}
			}
		}
	}
}