/* ░░ Header ░░░░░░░░░
============================================ */

body > .container > header {
	position:fixed;
	z-index: 25;
	width:100%;
	background: $white;
	//
	> .base {
		border-bottom-color: $winkleLight;
	}
	//
	&.theme-slate {
		background: $slateDark;
		//
		> .base {
			border-bottom: none;
		}
	}
	// Headroom
	&.headroom {
		//
		&.unpinned {
			transform: translateY(-5em);
		}
	}
}

body.mobile-side-nav > .container > header {
	// Headroom
	&.headroom {
		//
		&.unpinned {
			transform: translateY(0) translateX(200px);
		}
	}
}