/* ░░ Master ░░░░░░░░░
============================================*/

body {
	overflow-x: hidden;
	height: auto;
	font-family: $roboto-regular;
	color: $fontColor;
	background: $slateDark;
}

body, .container > header, .container > section, .container > footer {
	min-width: 320px;
}

body > .container {
	overflow: hidden;
	margin-top: 3.75em;
  @media screen and (min-width: 768px) {
		margin-top: 5em;
	}
	> header {
		margin-top: -3.75em;
	  @media screen and (min-width: 768px) {
			margin-top: -5em;
		}
	}
	> main {
		position: relative;
	}
}

.load-cover {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20000px;
	background: $white;
	transition: opacity 0.25s ease-in-out;
	// @extend .gpu;
	//
	&.preload {
  	opacity:1;
  	visibility: visible;
	}
	&.loaded {
  	opacity:0;
	}
	&.vis-hid { // applied via js after fade
		visibility: hidden;
	}
}

.base {
	padding: 0.5em 1em;
}

a {
	color: $linkColor;
	transition: color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
	//
	&:hover {
		color: $linkHover;
		text-decoration: underline;
	}
}

p {
	font-size: 1em;
}

::-moz-selection{ background:$rubyLight; color:white; }
::selection { background:$rubyLight; color:white; }

//

// .notific {
// 	background: $themeGreyLight;
// 	color:$themeGrey;
// 	//
// 	.link {
// 		color: $linkColor;
// 		&:hover {
// 			color: $linkHover;
// 		}
// 	}
// 	.close {
// 		color: $themeGrey;
// 		text-decoration: none;
// 		//
// 		&:hover {
// 			color: $themeGrey;
// 		}
// 	}
// }
