/* ░░ Structure (App) ░░░░░░░░░
============================================*/

body {
	overflow-x: hidden;
	height: auto;
	font-family: $roboto-regular;
	color: $fontColor;
	background: $slateDark;
}

body {
	min-width: 320px;
	//
	> .container {
		min-width: 320px;
		//
		> header {
			min-width: 320px;
		}
		> .core {
			min-width: 320px;
			//
			main, footer {
				min-width: 320px;
			}
		}
	}
}

body > .container {
	overflow: hidden;
	margin-top: 3.75em;
  @media screen and (min-width: 768px) {
		margin-top: 4.95em;
	}
	> header {
		margin-top: -3.75em;
	  @media screen and (min-width: 768px) {
			margin-top: -4.95em;
		}
	}
	> .core {
		position: relative;
	}
}

/*>> Base >>>>>>>>>>>>
============================================*/
.base {
	padding: 0.5em 1em;
	//
	> .inner {
		max-width: 1200px;
	}
	//
  ._bb1 {
    border-bottom-color: $winkleLight;
  }
}
.theme-slate {
  //
  ._bb1 {
    border-bottom-color: $slateLight;
  }
}

/*>> Base >>>>>>>>>>>>
============================================*/

/*>> Notific >>>>>>>>>>>>
============================================*/
.notific {
	background: $winkleLight;
	color:$winkle;
	//
	.link {
		color: $linkColor;
		&:hover {
			color: $linkHover;
		}
	}
	.close {
		color: $slate;
		text-decoration: none;
		//
		&:hover {
			color: $slate;
		}
	}
}

/*>> Load Screen >>>>>>>>>>>>
============================================*/
.load-cover {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2000px;
	transform: translateZ(0);
	background: $white;
	transition: opacity 0.25s ease-in-out;
	//
	&.preload {
  	opacity:1;
  	visibility: visible;
  	display: block;
	}
	&.loaded {
  	opacity:0;
	}
	&.vis-hid { // applied via js after fade
		visibility: hidden;
		display: none;
	}
}