/* ░░ Structure (App) ░░░░░░░░░
============================================*/

/*>> Core >>>>>>>>>>>>
============================================*/
body {
	overflow-x: hidden;
	height: auto;
	font-family: $roboto-regular;
	color: $fontColor;
	background: $slateDark;
}

body, .container > header, .container > section, .container > footer {
	min-width: 320px;
}

body > .container {
	overflow: hidden;
	margin-top: 3.75em;
  @media screen and (min-width: 768px) {
		margin-top: 4.95em;
	}
	> header {
		margin-top: -3.75em;
	  @media screen and (min-width: 768px) {
			margin-top: -4.95em;
		}
	}
	> main {
		position: relative;
	}
}

.base {
	padding: 0.5em 1em;
	//
	> .inner {
		margin: 0 auto;
		max-width: 1200px;
	}
}

/*>> Notific >>>>>>>>>>>>
============================================*/
.notific {
	background: $winkleLight;
	color:$winkle;
	//
	.link {
		color: $linkColor;
		&:hover {
			color: $linkHover;
		}
	}
	.close {
		color: $slate;
		text-decoration: none;
		//
		&:hover {
			color: $slate;
		}
	}
}

/*>> Load Screen >>>>>>>>>>>>
============================================*/
.load-cover {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20000px;
	background: $white;
	transition: opacity 0.25s ease-in-out;
	// @extend .gpu;
	//
	&.preload {
  	opacity:1;
  	visibility: visible;
	}
	&.loaded {
  	opacity:0;
	}
	&.vis-hid { // applied via js after fade
		visibility: hidden;
	}
}