/* ░░ Structure (App) ░░░░░░░░░
============================================*/

body {
	overflow-x: hidden;
	height: auto;
	font-family: $roboto-regular;
	color: $fontColor;
	background: $slateDark;
}

body {
	min-width: 320px;
	//
	> .container {
		min-width: 320px;
		//
		> header {
			min-width: 320px;
		}
		> .core {
			min-width: 320px;
			//
			> main, > footer {
				min-width: 320px;
			}
		}
	}
}

body > .container {
	overflow: hidden;
	margin-top: 4.938em;
	> header {
		margin-top: -4.938em;
	}
	> .core {
		position: relative;
	}
}

/*>> Base >>>>>>>>>>>>
============================================*/
.base {
	padding: 0.5em 1em;
	//
	> .inner {
		max-width: 1200px;
	}
	//
  ._bb1 {
    border-bottom-color: $winkleLight;
  }
}
.theme-slate {
  //
  ._bb1 {
    border-bottom-color: $slateLight;
  }
}

/*>> Notific >>>>>>>>>>>>
============================================*/
.notific {
	background: $winkleLight;
	color:$winkle;
	//
	.link {
		color: $linkColor;
		&:hover {
			color: $linkHover;
		}
	}
	.close {
		color: $slate;
		text-decoration: none;
		//
		&:hover {
			color: $slate;
		}
	}
}
