// ░░ Variables (App) ░░░░░░░░░░░░░
// ================================================

// >> App Swatch >>>>>>>>>>>>
//
$slateLightest: #747981;
$slateLighter: #646971;
$slateLight: #555961;
$slate: #454951;
$slateDark: #353941;
$slateDarker: #2a2e35;
$slateDarkest: #202329;
//
$winkleLighter: #eff4f8;
$winkleLight: #dbdee3;
$winkle: #c2c7d0;
//
$rubyLighter : #ff8585;
$rubyLight : #ff6565;
$ruby : #ff4848;
$rubyDark : #e13f3f;
//
$gold : #e1e132;
$goldDark : #e9c23f;

//
$tealLight: #6ecace;
$teal: #3db8bf;
$tealDark: #0f858c;
//
$fontColor: $slateDark;
//
$linkColor : $ruby;
$linkHover : darken($linkColor, 10%);
$linkVisited : darken($linkHover, 5%);
$linkFocus : $linkHover;
$linkActive : lighten(adjust-hue($linkColor, 75deg), 10%);

// >> Etc >>>>>>>>>>>>
//
$cdn : '//thecdnurl.com/whatever';