<div class="base _bb1">
  <div class="inner">
  	<header class="navbar">
	  	<div class="primary">
	      <h1 class="logo">
	        <a href="/">
	          <svg class="icon-logo" viewBox="0 0 32 32">
	            <use xlink:href="/media/images/img.svg#icon-logo"></use>
	          </svg>
	          <span>Really Good Emails</span>
	        </a>
	      </h1>
	      <div class="hamburger-menu-button">
	        <div class="primary" data-ng-class="{active:active}" data-ng-mobile-click="mobileSideNavToggle(); activeToggle();">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </div>
	      </div>
	      <nav>
	        <ul>
	          <li data-ng-class="{active:page('/inspiration')}">
	            <a href="/inspiration">Inspiration</a>
	          </li>
	          <li data-ng-class="{active:page('/email-kits')}">
	            <a href="/email-kits">Email Kits</a>
	          </li>
	          <li data-ng-class="{active:page('/interviews')}">
	            <a href="/interviews">Interviews</a>
	          </li>
	        </ul>
	      </nav>
	    </div><!--
	 --><div class="secondary">
	      <div class="inner">
	        <div class="sub-container">
	          <div class="row">
	            <div class="item">
	              <div class="plus-menu-button">
	                <a href="/">
	                  <span class="label">Submit Emails</span>
	                  <span class="plus">
	                    <svg class="icon-plus" viewBox="0 0 32 32">
	                      <use xlink:href="/media/images/img.svg#icon-plus"></use>
	                    </svg>
	                  </span>
	                </a>
	              </div>
	            </div>
	          </div>
	         </div>
	      </div>
	    </div>
	  </header>
  </div>
</div>
<div class="base _bb1">
	<div class="inner">
		<main class="list-grid freeflow">
			<ul>
				<li data-ng-repeat="collection in collections" ng-if="$index % 3===0">
					<a href="/collections/{{::collection.name | slugify}}">{{::collection.name}}</a>
			</ul>
			<ul>
				<li data-ng-repeat="collection in collections" ng-if="$index % 3===1">
					<a href="/collections/{{::collection.name | slugify}}">{{::collection.name}}</a>
			</ul>
			<ul>
				<li data-ng-repeat="collection in collections" ng-if="$index % 3===2">
					<a href="/collections/{{::collection.name | slugify}}">{{::collection.name}}</a>
			</ul>
			<ul>
				<li data-ng-repeat="collection in collections" ng-if="$index % 3===3">
					<a href="/collections/{{::collection.name | slugify}}">{{::collection.name}}</a>
			</ul>
			<ul>
				<li data-ng-repeat="collection in collections" ng-if="$index % 3===4">
					<a href="/collections/{{::collection.name | slugify}}">{{::collection.name}}</a>
			</ul>
			<ul>
				<li data-ng-repeat="collection in collections" ng-if="$index % 3===5">
					<a href="/collections/{{::collection.name | slugify}}">{{::collection.name}}</a>
			</ul>
		</main>
	</div>
</div>
<div class="base">
	<div class="inner">
		<footer>
			<div class="primary">
				<a href="https://assembly.com/really-good-emails" target="_blank" class="tag">
					Made with
		      <svg class="icon-heart" viewBox="0 0 32 32">
		        <use xlink:href="/media/images/img.svg#icon-heart"></use>
		      </svg>
		      on Assembly
		    </a>
			</div>
		  <div class="secondary">
		  	<p>
		  		&copy; Copyright 2015 - All images property of Really&nbsp;Good&nbsp;Emails.
		  		<br>
					All Emails property of individual&nbsp;companies.
					<br>
					Everything else is up for&nbsp;grabs.
				</p>
		  </div>
		</footer>
	</div>
</div>