/* >> Buttons (Module) >>>>>>>>>>>>
============================================*/
//
.button {
	display: inline-block;
	padding: 0.2em 2em;
	margin: 0;
	color: $white;
	text-align: center;
	background: $teal;
	border-radius: 50px;
	font-size: 1em;
	font-family: $roboto-bold;
	-webkit-appearance: none;
	// white-space:nowrap;
	&:hover {
		color: $white;
		text-decoration: none;
		background: $tealDark;
	}
	//
	&.big {
		padding: 0.35em 1.75em;
		font-size: 1.125em;
	}
	&.bigger {
		padding: 0.2em 3em;
		font-size: 1.375em;
	}
}
.theme-ruby {
	.button {
		color: $rubyDark;
		background: $gold;
		&:hover {
			background: $goldDark;
		}
	}
}
//
.hamburger-menu-button {
	transform: translateZ(0);
	display: inline-block;
	width: 50px;
	padding-left: 3px;
	text-align: center;
	vertical-align: middle;
	@extend .no-select;
	//
	> .primary {
		padding: 0.5em 0.25em;
		cursor: pointer;
		-webkit-user-select: none;
		border: 0;
		border-radius: 5px;
		-webkit-touch-callout: none;
		transition: background .2s ease-in-out;
		//
		&:hover, &.active {
			background: $winkleLight;
			transition: background .2s ease-in-out;
			//
			.icon-bar {
				background-color: $slateLightest;
			}
		}
		&.touch:hover {
			background: none;
		}
		.icon-bar {
			line-height: 2px;
			display: block;
			width: 20px;
			height: 3px;
			margin: 4px auto;
			vertical-align: text-top;
			background-color: $slateLighter;
		}
	}
}
//
.theme-slate {
	//
	.hamburger-menu-button {
		//
		.primary  {
			//
			&:hover, &.active {
				background: $slate;
				//
				.icon-bar {
					background-color: $slateLighter;
				}
			}
		}
	}
}
//
.plus-menu-button {
	display:inline-block;
	@extend .no-select;
	//
	a {
		color: $slate;
		vertical-align: middle;
		text-decoration: none;
		//
		// &:hover {
		// 	//
		// 	.label {
		// 		// opacity: 0.5;
		// 	}
		// 	.notification {
		// 		background: $rubyLighter;
		// 	}
		// 	svg {
		// 		transform: rotate(180deg);
		// 		transition: all 0.3s ease;
		// 	}
		// }
		.label {
			display: inline-block;
			padding-right: 0.25em;
			vertical-align: middle;
			text-decoration: none;
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		.plus {
			position: relative;
			display:inline-block;
			height:35px;
			width:35px;
			vertical-align: middle;
			text-decoration: none;
			background: $teal;
			border-radius: 50px;
			transform: rotate(0deg);
			transition: all 0.3s ease;
			//
			svg {
				position: absolute;
				top: 9.5px;
				left: 10px;
				height: 15px;
				width: 15px;
				fill: $white;
			}
		}
	}
}
.theme-slate {
	//
	.plus-menu-button {
		//
		a {
			color: $winkleLight;
			//
			svg {
				fill: $slateDark;
			}
		}
	}
}
//
.close-button {
	display:inline-block;
	//
	a {
		display: block;
		padding: 0.625em;
		line-height: 0;
		// background: $white;
		border-radius: 50px;
		&:hover {
			background: $slateLighter;
			svg {
				fill: $winkleLighter;
			}
		}
		svg {
			width:1em;
			height:1em;
			fill: $slateLighter;
			transition: fill 0.25s ease-in-out;
		}
	}
}
.theme-slate {
	//
	.close-button {
		//
		a {
			//
			&:hover {
				background: $slate;
				svg {
					fill: $winkleDark;
				}
			}
			svg {
				fill: $slateLighter;
			}
		}
	}
}
.theme-ruby {
	//
	.close-button {
		//
		a {
			//
			&:hover {
				background: $rubyDark;
				svg {
					fill: rgba(255, 255, 255, 0.9);
				}
			}
			svg {
				fill: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
