/* >> Card Grid (Module) >>>>>>>>>>>>
============================================*/
//
.card-grid {
	//
	.base {
		border-bottom: solid 1px $winkleLight;
		padding-bottom: 2em;
		margin-bottom: 1.5em;
		//
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.icon-caret {
		width:9px;
		height:12px;
		vertical-align: middle;
		fill: $slateDark;
		transition: transform 0.15s ease-in-out;
	}
	.icon-list {
		width:12px;
		vertical-align: middle;
		fill: $slateLighter;
		margin: 0 3px 1px 0;
	}
	.icon-smiley {
		width:15px;
		vertical-align: middle;
		fill: $slateLighter;
		margin: 0 2px 3px 0;
	}
}
//
.card-grid-nav {
	position: relative;
	z-index: 5;
	margin-left: -0.938em;
	margin-right: -0.938em;
	//
	a {
		color: $slateDark;
		font-size: 0.925em;
	}
	> .primary {
		display: inline-block;
		width: 35%;
		vertical-align: middle;
		//
		.nav-group-one {
			//
			.icon-caret {
				margin-top: 0.175em;
			}
		}
	}
	> .secondary {
		display: inline-block;
		width: 65%;
		vertical-align: middle;
		text-align: right;
		> ul {
			text-align: left;
			margin:0;
			padding:0;
			//
			> li {
				display:inline-block;
				list-style-type: none;
			}
		}
		a {
			font-size: 0.8125em;
			padding: 1.3em 1.2em;
		}
		.nav-group-two {
			position: relative;
			&:before {
				content:'';
				position: absolute;
				top: 25%;
				right: 0;
				height: 50%;
				width: 1px;
				background-color:$winkleLight;
			}
		}
	}
}
.card-grid-main {
	//
	> .header {
		padding: 0 0.375em;
		//
		h4 {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			width: 50%;
			font-size:1.25em;
		}
		.secondary {
			display: inline-block;
			width: 50%;
			margin: 0;
			vertical-align: middle;
			text-align: right;
			//
			a {
				font-family: $roboto-light;
				font-size: 0.8125em;
				color: $slateDark;
				text-decoration: none;
				transition: color 0.25s ease-in-out;
				&:hover {
					color: $ruby;
					svg {
						fill: $ruby;
						transition: fill 0.25s ease-in-out;
					}
				}
			}
			svg {
				width:9px;
				height:12px;
				vertical-align: middle;
				fill: $slateDark;
				transition: fill 0.25s ease-in-out;
			}
			span {
				vertical-align: middle;
			}
		}
	}
	> .main {
		margin: 0 -0.375em;
		padding: 0;
		list-style-type: none;
		//
		li {
			display: inline-block;
			width: 100%;
			padding: 1em 0.375em;
			vertical-align: top;
			@media screen and (min-width: 480px) {
				width: 50%;
			}
			@media screen and (min-width: 800px) {
				width: 33.3333%;
			}
			@media screen and (min-width: 1100px) {
				width: 25%;
			}
		}
		&.mini {
			//
			li {
				display: inline-block;
				width: 100%;
				padding: 1em 0.375em;
				vertical-align: top;
				@media screen and (min-width: 480px) {
					width: 50%;
				}
				@media screen and (min-width: 768px) {
					width: 100%;
				}
				@media screen and (min-width: 1024px) {
					width: 50%;
				}
			}
		}
		&.two-three-four {
			//
			li:nth-child(n+3) {
				display: none;
				@media screen and (min-width: 800px) {
					display: inline-block;
				}
			}
			li:nth-child(n+4) {
				@media screen and (min-width: 800px) {
					display: none;
				}
				@media screen and (min-width: 1100px) {
					display: inline-block;
				}
			}
		}
		&.two-three-four {
			//
			li:nth-child(n+3) {
				display: none;
				@media screen and (min-width: 800px) {
					display: inline-block;
				}
			}
			li:nth-child(n+4) {
				@media screen and (min-width: 800px) {
					display: none;
				}
				@media screen and (min-width: 1100px) {
					display: inline-block;
				}
			}
		}
		&.two-four-five-seven {
			//
			li:nth-child(n+4) {
				display: none;
				@media screen and (min-width: 480px) {
					display: inline-block;
				}
			}
			li:nth-child(n+5) {
				@media screen and (min-width: 480px) {
					display: none;
				}
				@media screen and (min-width: 800px) {
					display: inline-block;
				}
			}
			li:nth-child(n+7) {
				@media screen and (min-width: 800px) {
					display: none;
				}
				@media screen and (min-width: 1100px) {
					display: inline-block;
				}
			}
		}
		&.two-six-1024 {
			//
			li:nth-child(n+3) {
				display: none;
				@media screen and (min-width: 1024px) {
					display: inline-block;
				}
			}
			li:nth-child(n+7) {
				@media screen and (min-width: 1024px) {
					display: none;
				}
			}
		}
		&.six-nine-twelve {
			//
			li:nth-child(n+7) {
				display: none;
				@media screen and (min-width: 800px) {
					display: inline-block;
				}
			}
			li:nth-child(n+10) {
				@media screen and (min-width: 800px) {
					display: none;
				}
				@media screen and (min-width: 1100px) {
					display: inline-block;
				}
			}
		}
	}
}


