/* >> Card (Module) >>>>>>>>>>>>
============================================*/
//
.card {
	//
	> .inner {
		position: relative;
		display:block;
	}
	.thumb {
		background: $winkleLighter;
		max-height: 215px;
  	overflow: hidden;
		//
		&:hover {
			cursor: pointer;
			//
			.overlay {
				background: rgba(255,72,72,0.85);
			}
			.social {
				opacity: 1;
			}
		}
		.overlay {
			z-index: 4;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			background: rgba(255,72,72,0);
			transition: background 0.25s ease-in-out;
		}
	}
	.social {
		opacity: 0;
	  display: inline-block;
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
	  transition: opacity 0.25s ease-in-out;
		//
		a {
			display: inline-block;
		  padding: 7%;
			color: $white;
			font-size: 1.1rem;
			text-align: center;
			text-decoration: none;
			pointer-events: auto;
			transition: transform 0.2s ease-in-out;
			transform: scale(0.9,0.9);
			&:hover {
				transform: translateY(-0.5em);
			}
			//
			span {
				padding-right: 0.1em;
				text-align: center;
			}
		}
		svg {
			display:block;
			width:30px;
			vertical-align: middle;
			fill: $white;
		}
	}
	.label {
		padding: 0.75em 1em;
		line-height: 1.3em;
		background: $winkleLighter;
		//
		.title {
			//
			a {
				font-family: $roboto-medium;
				font-size: 0.9em;
				color: $slateDark;
				text-decoration: none;
			}
		}
		.collections {
			white-space: nowrap;
			overflow: hidden;
		}
		.item {
			display: inline-block;
			//
			a {
				display: inline-block;
				position: relative;
				padding: 0 0.075em 0.25em 0;
				font-family: $droid-serif;
				font-size: 0.9em;
				color: $slateLighter;
				text-transform: capitalize;
				text-decoration: none;
				transition: color 0.25s ease-in-out;
				&:hover {
					color: $ruby;
				}
				&:before {
					position: absolute;
					top: 0;
					right: 3px;
					height: 100%;
					width: 5px;
					content:', ';
				}
				&:after{
					content: '\00a0';
				}
			}
			&:last-child a:before {
				content: '';
			}
		}
	}
	.big-label {
		z-index: 4;
		position: absolute;
		top: 50%;
		transform: translate3d(0,-50%,0);
		width: 100%;
		padding: 0 1em;
		pointer-events: none;
		text-align: center;
		//
		.count {
			font-family: $roboto-light;
			font-size: 2.125em;
			line-height: 1em;
			color: $winkleDarker;
			//
			svg {
				width:20px;
				vertical-align: middle;
				fill: $winkleDarker;
			}
		}
		.title {
			padding: 0.35em 0;
		  line-height: 1.2em;
			font-size: 2em;
			text-transform: capitalize;
		}
		.service {
			font-size: 0.9em;
			color: $slateLight;
			text-transform: capitalize;
		}
	}
}
