/* >> Detail Grid (Module) >>>>>>>>>>>>
============================================*/
//
.detail-grid {
	@media screen and (min-width: 768px) {
		display: table;
		width: 100%;
	}
	//
	> .primary {
		padding: 1em 0 2.5em 0;
		vertical-align: top;
		border-right: 1px solid $winkleLight;
		@media screen and (min-width: 768px) {
			display: table-cell;
			padding: 1em 0 1em 0;
		}
	}
	> .secondary {
		padding: 1em 0 1em 1em;
		vertical-align: top;
		@media screen and (min-width: 768px) {
			display: table-cell;
			width: 20em;
		}
		@media screen and (min-width: 1024px) {
			width: 30em;
		}
		@media screen and (min-width: 1265px) {
			padding: 2.5em 0 2.5em 2.5em;
		}
	}
}
.detail-grid > .primary {
	//
	> header {
		position: relative;
		padding-right: 1em;
		@media screen and (min-width: 1265px) {
			padding-right: 2.5em;
		}
		&:after {
			content: '';
			position: absolute;
			bottom:0;
			left: -100%;
	  	width: 200%;
			height: 1px;
			background: $winkleLight;
		}
		h1 {
			margin:0 0 0.25em 0;
			font-family: $roboto-bold;
			font-size: 2.25em;
			line-height: 1.15em;
			text-transform: capitalize;
			//
			a {
				color: $slateDark;
			}
		}
		.description {
			margin-bottom: 0.75em;
			font-size: 1.063em;
			line-height: 1.375em;
			color: $slateLightest;
		}
		ul.collections {
			margin: 0 0 0 0.6em;
  		padding: 0 0 1em 0;
			//
			li {
				position: relative;
				margin-right: 1em;
				display: inline-block;
				text-transform: capitalize;
				//
			}
			a {
				color: $tealDark;
				font-family: $roboto-bold;
				//
				&:before {
					content: '#';
					position: absolute;
					top: 0;
					left: -0.6em;
				}
			}
		}
		.user {
			display:none;
		}
	}
	> main {
		padding-right: 1em;
		@media screen and (min-width: 1265px) {
			padding-right: 2.5em;
		}
	}
}
.detail-grid-nav {
	background: #eee;
}

.detail-grid > .secondary {
	//
	main {
		//
		> ul {
			margin: 0;
			padding: 0;
			//
			> li {
				list-style: none;
			}
		}
	}
}


