<!doctype html>
<html class="no-js" data-ng-app="reallygoodemails">
<head data-ng-controller="metaCtrl">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <title data-ng-bind="titleTag"></title>
    <meta name="title" content="{{metaTitle}}" />
    <meta name="description" content="{{metaDesc}}">
    <meta http-equiv="cleartype" content="on">
    <!-- -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- -->
    <link rel="shortcut icon" href="/media/images/_icons/favicon.ico">
    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{appName}}.com">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="57x57" href="/media/images/_icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/images/_icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/images/_icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/images/_icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/images/_icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/images/_icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/images/_icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/images/_icons/apple-touch-icon-152x152.png">
    <!-- Android -->
    <link rel="icon" type="image/png" href="/media/images/_icons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/media/images/_icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/media/images/_icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/media/images/_icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/media/images/_icons/favicon-32x32.png" sizes="32x32">
    <!-- MS -->
    <meta name="application-name" content="{{appTitle}}">
    <meta name="msapplication-config" content="/media/images/_icons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#dc5037">
    <meta name="msapplication-square70x70logo" content="/media/images/_icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/media/images/_icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/media/images/_icons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/media/images/_icons/mstile-310x310.png">
    <!-- Facebook -->
    <meta property="og:title" content="{{appTitle}}"/>
    <meta property="og:site_name" content="{{appName}}.com"/>
    <meta property="og:url" content="{{appURL}}"/>
    <meta property="og:description" content="{{metaDesc}}"/>
    <meta property="og:image" content="http:{{appCDNurl}}/media/images/fb_og-image.jpg"/>
    <meta property="og:type" content="website"/>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{appName}}">
    <meta name="twitter:title" content="{{appTitle}}"/>
    <meta name="twitter:description" content="{{metaDesc}}">
    <meta name="twitter:creator" content="@{{appName}}">
    <meta name="twitter:image:src" content="http:{{appCDNurl}}/media/images/tw_sum-image.png">
    <meta name="twitter:domain" content="{{appURL}}">
    <!-- -->
    <meta http-equiv="cache-control" content="public">
    <meta http-equiv="cache-control" content="max-age=72000" />

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body class="{{controller}}" data-ng-controller="mainCtrl" data-ng-class="($root.togglePrimaryMenu ? 'primary-menu-active' : '')+' '+($root.toggleSecondaryMenu ? 'secondary-menu-active' : '')">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        <header data-ng-include="'partials/header.html'"></header>
        <main class="preload" data-ng-view="" data-ng-click="menuToggle()"></main>
        <footer data-ng-include="'partials/footer.html'" data-ng-click="menuToggle()"></footer>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        //
        if(window.location.href.indexOf('appspot') > -1) {
            ga('create', 'UA-60447772-1', 'auto');
        } else {
            ga('create', 'UA-XXXXX-X');
        }
        //
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/enquire/dist/enquire.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower -->
    <script src="scripts/libs/ios-orientationchange-fix.js"></script>
    <script src="scripts/libs/css-browser-selector.js"></script>
    <script src="scripts/libs/placeholder-fix.js"></script>
    <!-- endbuild -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/enquire-config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
    <script src="scripts/controllers/headerCtrl.js"></script>
    <script src="scripts/controllers/cardGridCtrl.js"></script>
    <!-- endbuild -->
</body>
</html>
