<div class="base detail-grid-base">
	<div class="inner">
		<section class="detail-grid">
			<div class="primary">
				<header>
					<div class="breadcrumbs">
						<a href="#" title="" data-ng-click="back();">
							<svg class="icon-arrow" viewBox="0 0 32 32">
	              <use xlink:href="/media/images/img.svg#icon-arrow"></use>
	            </svg>
	            <span>Brands</span>
						</a>
					</div>
					<h1 data-ng-repeat="email in emails | filter:{emailID:queryID}:true">
						<a href="/{{::email.slug}}">
							{{::email.subject}}
						</a>
					</h1>
					<div class="description" data-ng-repeat="email in emails | filter:{emailID:queryID}:true">
						{{::email.description}}
					</div>
					<ul class="collections" data-ng-repeat="email in emails | filter:{emailID:queryID}:true">
						<li data-ng-repeat="email in email.collections">
							<a href="/collections/{{::email | slugify}}">
								{{::email}}
							</a>
						</li>
					</ul>
					<avatar>
						<div class="label post-label" name="post-label">
							<span class="username">@dustintheweb</span>
							<span class="omit_480">submitted this</span>
							<span class="timestamp" data-ng-repeat="email in emails | filter:{emailID:queryID}:true">
								<span am-time-ago="email.date"></span>
							</span>
			    	</div>
					</avatar>
				</header>
				<main>
					<div class="detail-grid-nav">
						<div class="primary">	<!-- nav stuff -->
							<dl class="nav-dropdown">
								<dt>
									<a href="">
										<span class="email">Activity &amp; View</span>
										<svg class="icon-caret" viewBox="0 0 32 32">
										  <use xlink:href="/media/images/img.svg#icon-caret"></use>
										</svg>
									</a>
								<dd>
								<ul class="dd-list">
		              <li>
		              	<a href="#">
		              		<svg class="icon-smiley" viewBox="0 0 32 32">
											  <use xlink:href="/media/images/img.svg#icon-smiley"></use>
											</svg>
											<span>19</span>
		              	</a>
		              <li>
		              	<a href="#">
		              		<svg class="icon-comment" viewBox="0 0 32 32">
											  <use xlink:href="/media/images/img.svg#icon-comment"></use>
											</svg>
											<span>23</span>
		              	</a>
		              <li>
		              	<a href="#">
		              		<svg class="icon-share" viewBox="0 0 32 32">
											  <use xlink:href="/media/images/img.svg#icon-share"></use>
											</svg>
											<span>2</span>
		              	</a>
		              <li class="drop active">
		              	<a href="#">
		              		<svg class="icon-desktop" viewBox="0 0 32 32">
											  <use xlink:href="/media/images/img.svg#icon-desktop"></use>
											</svg>
		              	</a>
		              <li>
		              	<a href="#">
		              		<svg class="icon-mobile" viewBox="0 0 32 32">
											  <use xlink:href="/media/images/img.svg#icon-mobile"></use>
											</svg>
		              	</a>
		              <li>
		              	<a href="#">
		              		<svg class="icon-code" viewBox="0 0 32 32">
											  <use xlink:href="/media/images/img.svg#icon-code"></use>
											</svg>
		              	</a>
				      	</ul>
							</dl>
						</div>
						<div class="secondary">
							<dl class="nav-dropdown">
								<dt>
									<a href="">
										<span class="email">Share</span>
										<svg class="icon-caret" viewBox="0 0 32 32">
										  <use xlink:href="/media/images/img.svg#icon-caret"></use>
										</svg>
									</a>
								<dd>
									<ul class="dd-list">
			              <li>
			              	<a href="#">
			              		<svg class="icon-social icon-facebook" viewBox="0 0 32 32">
												  <use xlink:href="/media/images/img.svg#icon-facebook"></use>
												</svg>
			              	</a>
			              <li>
			              	<a href="#">
			              		<svg class="icon-social icon-twitter" viewBox="0 0 32 32">
												  <use xlink:href="/media/images/img.svg#icon-twitter"></use>
												</svg>
			              	</a>
			              <li>
			              	<a href="#">
			              		<svg class="icon-social icon-pinterest" viewBox="0 0 32 32">
												  <use xlink:href="/media/images/img.svg#icon-pinterest"></use>
												</svg>
			              	</a>
				          </ul>
							</dl>
						</div>
					</div>
					<div class="detail-grid-main" data-ng-repeat="email in emails | filter:{emailID:queryID}:true">
						<a href="{{::email.img.full}}">
							<img data-ng-src="{{::email.img.full}}" alt="">
						</a>
					</div>
				</main>
			</div>
			<div class="secondary">
				<ul class="main">
					<li>
						<div class="card-grid">
							<div class="card-grid-main">
								<div class="card" data-ng-repeat="brand in brands | filter:{emailIDs:queryID}:true">
									<div class="inner">
										<div class="thumb">
											<a href="/brands/{{::brand.brandName | slugify}}">
												<img src="/media/images/thumb-spacer.png" alt="">
											</a>
											<div class="big-label">
												<div class="count">
													<span>{{::brand.metrics[0].posts}}</span>
													<svg class="icon-mail-line" viewBox="0 0 32 32">
			                    	<use xlink:href="/media/images/img.svg#icon-mail-line"></use>
			                    </svg>
												</div>
												<div class="title">
													{{::brand.brandName}}
												</div>
												<div class="service">
													{{::brand.service}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<ul class="main mini two-six-1024" data-ng-repeat="brand in brands | filter:{emailIDs:queryID}:true">
									<li class="card" data-ng-repeat="email in emails | orderBy:viewCount:true | filter:{brandName:brand.brandName} | limitTo:'6'">
										<div class="inner">
											<div class="thumb">
												<a href="/{{::email.slug}}">
													<img data-ng-src="{{::email.img.thumb}}" alt="{{::email.subject}}">
												</a>
												<div class="overlay">
													<div class="social">
														<a href="" class="likes">
															<svg class="icon-smiley" viewBox="0 0 32 32">
					                        <use xlink:href="/media/images/img.svg#icon-smiley"></use>
					                    </svg>
															<span>{{::email.metrics[0].likes}}</span>
														</a>
														<a href="" class="comments">
															<svg class="icon-comment" viewBox="0 0 32 32">
					                        <use xlink:href="/media/images/img.svg#icon-comment"></use>
					                    </svg>
															<span>{{::email.metrics[0].comments}}</span>
														</a>
														<a href="" class="shares">
															<svg class="icon-share" viewBox="0 0 32 32">
					                        <use xlink:href="/media/images/img.svg#icon-share"></use>
					                    </svg>
															<span>{{::email.metrics[0].shares}}</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					<li>
						<!-- related articles -->
					<li>
						<div class="banner banner_4x3">
							<a href="/email-kits" title="">
								<img src="https://reallygoodemails-cdn.appspot.com/media/images/banners/banner_480x300_email-kits.jpg" alt="">
							</a>
						</div>
				</ul>
			</div>
		</section>
	</div>
</div>
<section class="card-grid">
<!-- Collections -->
	<div class="base">
		<div class="inner">
			<div class="card-grid-main">
				<div class="header">
					<h4>
						In these collections
					</h4><!--
			 --><div class="secondary">
						<a href="">
							<span>View All {{::collectionCount}} Collections</span>
							<svg class="icon-caret" viewBox="0 0 32 32">
	              <use xlink:href="/media/images/img.svg#icon-caret"></use>
	            </svg>
						</a>
					</div>
				</div>
				<ul class="main two-three-four" data-ng-repeat="collection in collections | filter:{emailIDs:queryID}:true | orderBy:postCount:true | limitTo:'2'">
					<li class="card">
						<div class="inner">
							<div class="thumb">
								<a href="/collections/{{collection.name}}">
									<img src="/media/images/thumb-spacer.png" alt="">
								</a>
								<div class="big-label">
									<div class="count">
										<span>{{::collection.metrics[0].posts}}</span>
										<svg class="icon-mail-line" viewBox="0 0 32 32">
                    	<use xlink:href="/media/images/img.svg#icon-mail-line"></use>
                    </svg>
									</div>
									<div class="title">
										{{collection.name}}
									</div>
									<div class="category">
										Collection
									</div>
								</div>
							</div>
						</div>
					<li class="card" data-ng-repeat="email in emails | orderBy:viewCount:true | filter:{collections:collection.name}:true | limitTo:'3'">
						<div class="inner">
							<div class="thumb">
								<a href="/{{::email.slug}}">
									<img data-ng-src="{{::email.img.thumb}}" alt="{{::email.subject}}">
								</a>
								<div class="overlay">
									<div class="social">
										<a href="" class="likes">
											<svg class="icon-smiley" viewBox="0 0 32 32">
	                        <use xlink:href="/media/images/img.svg#icon-smiley"></use>
	                    </svg>
											<span>{{::email.metrics[0].likes}}</span>
										</a>
										<a href="" class="comments">
											<svg class="icon-comment" viewBox="0 0 32 32">
	                        <use xlink:href="/media/images/img.svg#icon-comment"></use>
	                    </svg>
											<span>{{::email.metrics[0].comments}}</span>
										</a>
										<a href="" class="shares">
											<svg class="icon-share" viewBox="0 0 32 32">
	                        <use xlink:href="/media/images/img.svg#icon-share"></use>
	                    </svg>
											<span>{{::email.metrics[0].shares}}</span>
										</a>
									</div>
								</div>
							</div>
						</div>
				</ul>
			</div>
		</div>
	</div>
<!-- Call out -->
	<div class="base">
		<div class="inner">
			<div class="callout form close theme-slate">
				<main>
					<div class="inner">
						<div class="primary">
							<p>
								Get weekly email inspiration in your&nbsp;inbox
							</p>
						</div>
						<div class="secondary">
							<form>
								<div class="primary">
			          	<input type="text" placeholder="Email Address">
			          </div>
			          <div class="secondary" style="width:9em;">
				          <button class="button big" type="submit">
				            Sign Up
				          </button>
				        </div>
			        </form>
						</div>
					</div>
				</main>
				<aside>
					<div class="inner">
						<div class="close-button">
							<a href="">
								<svg class="icon-close" viewBox="0 0 32 32">
		               <use xlink:href="/media/images/img.svg#icon-close"></use>
		            </svg>
							</a>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>