<!-- // Feature /////// -->
<section class="feature">
  <figure class="gradient">
      <figcaption>
	      <div class="main">
		      <svg class="icon-logo coming-soon" viewBox="0 0 32 32">
	          <use xlink:href="/media/images/icons.svg#icon-logo"></use>
	        </svg>
          <h2 class="coming-soon">
          	Email Details Page
          </h2>
          <h3>Coming Soon!</h3>
	      </div>
      </figcaption>
  </figure>
</section>
<section class="some-section base">
	<br><br>
	bacon bacon bacon
	<br><br><br><br><br><br><br><br>
	bacon bacon bacon
	<br><br><br><br><br><br><br><br>
	bacon bacon bacon
	<br><br><br><br><br><br><br><br>
	bacon bacon bacon
	<br><br><br><br><br><br><br><br>
</section>

<div class="load-cover preload" ng-class="($parent.toggleLoadCover ? 'loaded' : '')+' '+($parent.toggleLoadVisHid ? 'vis-hid' : '')"></div>