<!-- // Feature /////// -->
<section class="feature">
  <figure class="gradient">
      <figcaption>
	      <div class="main">
	          <h3>We designed and built the<br>entire flow for your product.</h3>
	          <h2>
	          	<a href="/email-kits">Email Kits</a>
	          </h2>
	      </div>
	      <div class="footer">
	          <a class="button-big" href="/about">Starting at $49</a>
	      </div>
      </figcaption>
  </figure>
</section>
<section class="card-grid">
	<header>
		<div class="card-grid-nav">
			<div class="card-grid-nav-primary">
				<dl ng-class="toggleClass ? 'nav-dropdown' : 'nav-dropdown active'">
					<dt>
						<a href="">
							<span class="item">Brands</span>
							<span class="arrow"></span>
						</a>
					<dd>
						<ul class="dd-list">
              <li class="active">
              	<a href="">Brands</a>
              <li>
              	<a href="">Collections</a>
	          </ul>
				</dl>
			</div><!--
	 --><div class="card-grid-nav-secondary">
				<ul>
					<!-- <li>
						<a href="">
							<svg></svg>
							<span>My Links</span>
						</a>
					</li>
					<li>
						<a href="">
							<svg></svg>
							<span>My Favorites</span>
						</a>
					</li> -->
					<li>
						<a href="">
							Trending
						</a>
					</li>
					<li>
						<a href="">
							New
						</a>
					</li>
					<li>
						<a href="">
							Popular
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<br><br> Main Stuff <br><br><br>
	<main>
</section>
